<% if message.view_class %>
  <li class="message <%= message.view_class %>">
<% else %>
  <li class="message">
<% end %>

  <ul class='inner_message'>
    <li>
      <div class="message_sender"><p><%= User.find(message.user_id).name %></p></div>
      <div class="message_timestamp"><p><%= message.created_at.strftime("%a %b %e %Y %T") %></p></div>
    </li>
    <li>
      <% if message.attachment_id %>
        <% attachment = Attachment.find(message.attachment_id) %>
        <div class="message_content"><%= link_to(message.content, attachment.payload.url) if attachment %></div>
      <% else %>
        <div class="message_content"><p><%= message.content %></p></div>
      <% end %>  
    </li>
  </ul>
</li>
