<tr class="message">
  <% if message.attachment_id %>
    <% attachment = Attachment.find(message.attachment_id) %>
    <% if attachment %>
      <td class="message_sender"><%= User.find(message.user_id).name %>: </td>
      <td class="message_content"><%= link_to(message.content, attachment.payload.url) %></td>
      <td class="message_timestamp">...<%= message.created_at.strftime("%T") %></td>
    <% end %>  
  <% else %>
    <td class="message_sender"><%= User.find(message.user_id).name %>: </td>
    <td class="message_content"><%= message.content %></td>
    <td class="message_timestamp">...<%= message.created_at.strftime("%T") %></td>
  <% end %>  
</tr>
