<% if message.view_class %>
  <li class="<%= "#{message.view_class}" %>">
<% else %>
  <li class="message">
<% end %>
  <div class="left-side">
    <div class="sender"><p><%= message.sender_handle %></p></div>
    <% if message.attachment_id and Attachment.exists?(message.attachment_id) %>
      <% attachment = Attachment.find(message.attachment_id) %>
    <% else %>
      <div class="content"><p><%= message.content.strip %></p></div>
    <% end %>  
  </div>
  <div class="right-side">
    <div class="timestamp"><p><%= message.created_at.strftime("%a %b %e %Y %T") %></p></div>
    <div class="readers"><p><%= message.readers unless message.was_sent_to?(@user) %></p></div>
  </div>
</li>

