<% if message.view_class %>
  <li class="<%= "#{message.view_class}" %>">
<% else %>
  <li class="message">
<% end %>
  <div class="left-side">
    <div class="sender"><p><%= message.sender_handle %></p></div>
    <% if message.attachment %>
      <div class="content"><a href=<%= message.attachment.payload.url %>><%= message.content.strip %></a></div>
    <% else %>
      <div class="content"><p><%= message.content.strip %></p></div>
    <% end %>  
  </div>
  <div class="right-side">
    <div class="timestamp"><p><%= message.created_at.strftime("%a %b %e %Y %T") %></p></div>
    <div class="readers"><p><%= message.formatted_readers unless message.sent_to?(@user) %></p></div>
  </div>
</li>

