<div id="signin">
  
  <div class="center_spot">
    <%= form_tag session_path do %>

      <div class="field">
        <%= label_tag :user_name %></br>
        <%= text_field_tag :user_name %>
      </div>

      <div class="field">
        <%= label_tag :password %></br>
        <%= password_field_tag :password %>
      </div>

      <div id="select_desk">
        <div id="td_desks">
          <%= render @td_desks %>
        </div>
        <div id="ops_desks">
          <%= render @ops_desks %>
        </div>
      </div>

      <div class="actions">
        <%= submit_tag "Sign In" %>
      </div>

    <% end %>

    <p>New User? <%= link_to "Sign up now", signup_path %></p>

  </div>
</div>
