<div id="new_transcript_page">

  <h2>Create a new Transcript</h2>

  <div class="center_spot">
    <%= form_for(@transcript) do |f|  %>
      <div class="field">
        <%= f.label :transcript_workstation_id %>
        <%= f.select :transcript_workstation_id, @workstations %>
      </div> 

      <div class="field">
        <%= f.label :transcript_user_id %>
        <%= f.select :transcript_user_id, @users %>
      </div> 

      <div class="field">
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time %>
      </div>

      <div class="field">
        <%= f.label :end_time %>
        <%= f.datetime_select :end_time %>
      </div>

      <div class="actions">
        <%= f.submit "Create Transcript" %>
      </div>
    <% end %>
    <div class='cancel_link'><%= link_to "Cancel", transcripts_path %></div>
  </div>
</div>
