<li class=<%= user.user_name %>>
  <p><%= user.user_name %></p>
  <%= form_for user do |f| %> 
    <%= f.label :admin %>
    <%= f.check_box :admin %>
    <%= f.submit "Update" %>
  <% end %>
  <%= link_to 'Delete', user, :method => :delete, remote: true %>
</li> 
