<li class=<%= user.user_name %>>
  <div id='name'>
    <p><%= user.user_name %></p>
  </div>
  <div id='promote'>
  <%= form_for user, url: promote_user_path(user, format: :js), remote: true do |f| %>
    <%= f.label :admin %>
    <%= f.check_box :admin %>
    <%= f.submit "Update" %>
  <% end %>
  </div>
  <div id='delete'>
  <%= link_to user, :method => :delete, remote: true do %>
    <i class='fa fa-trash-o'></i> Delete User
  <% end %>
  </div>
</li> 

