<div id="signup">

  <h2>Sign up for</br><span id=title>Amtrak Messenger</span></h2>

  <div class="center_spot"> 
    <%= form_for(@user) do |f| %>

      <div class="field">
        <%= f.label :user_name %> </br>
        <%= f.text_field :user_name %>
      </div>
      
      <div id="select_normal_workstation">
        <div id="td_workstations">
          <%= render @td_workstations if @td_workstations %>
        </div>
        <div id="ops_workstations">
          <%= render @ops_workstations if @ops_workstations %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %> </br>
        <%= f.password_field :password, id: "password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %> </br>
        <%= f.password_field :password_confirmation, id: "conformation" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up" %>
      </div>

     <p>Already Signed Up? <%= link_to "Sign In", signin_path %></p>

    <% end %>
  </div>
</div>
