<div id="register_page">

  <div class="center_spot"> 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      <div class="field">
        <%= f.label :user_name %> </br>
        <%= f.text_field :user_name %>
      </div>
      
      <div class="field">
        <%= f.label :password %> </br>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %> </br>
        <%= f.password_field :password_confirmation %>
      </div>

      <div id="select_normal_workstation">
        Workstation(s) <span class="smaller">(optional)</span>
        <div id="td_workstations">
          <%= render collection: @td_workstations, partial: 'workstations/workstation' if @td_workstations %>
        </div>
        <div id="ops_workstations">
          <%= render collection: @ops_workstations, partial: 'workstations/workstation' if @ops_workstations %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Register" %>
      </div>
    <% end %>
    <div class="cancel_link">Already Registered? <%= link_to "Sign In", signin_path %></div>
  </div>
</div>
