<div id="user_name_section" class=<%= @user.id %>>
  <ul>
    <li id='user_name'><%= @user.full_name %></li>
    <% if signed_in? %>
      <li id='sign_out'><%= link_to "Sign out", signout_path %></li>
      <!--<%= link_to "Update Profile", edit_user_path(current_user) %>-->
    <% end %>
  </ul>
</div>

<div id='send_to_section'>
  <table>
    <tr>
      <td id='to'>
        <%= link_to("To:", users_path, :id => "users_link", :remote => true, :format => :js) %>
      </td>
      <td id='send_to'>
        <div id='send_to_box'>
          <%= render('recipients/recipients_table', :recipient_lists => @my_recipients) %>
        </div>
      </td>
  </table>
</div>

<div id="messages_section">
  <table id="messages_table">
    <tr class="message"></tr>
    <%= render @messages %>
  </table>
</div>
  
<div id="upload_section">
  <%= form_for @attachment, html: {multipart: true}, remote: true, format: :js do |f| %>
    <%= f.file_field("payload") %>
    <%= f.submit "Send file" %>
  <% end %>   
</div>

<div id="upload_button">
  <%= link_to(image_tag("paperclip.png"), "#", id: "attach_button") %>
</div>

<div id="msg_input">
  <% if signed_in? %>
    <%= form_for(@message, :id => "message_input", remote: true, format: :js) do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
    <% end %>
  <% end %>
</div>

<div id="dialog" title="Who would you like to message?">
  <%= form_tag recipients_path, :remote => true, :format => :js do %>
    <ul id="online_users_list"> 
    </ul>
    <%= submit_tag "OK" %>
  <% end %>
</div>

<%= subscribe_to "/messages/#{@user.name}" %> 
