<div id="content" class=<%= "#{@user.id}" %>>

  <div id='workstation_section'>
    <div id="workstation_loading_icon">
      <%= image_tag "loading_circle.gif" %>
    </div>
    <div id='recipient_workstation_selection'>
    </div>
  </div>

  <div id="messages">

    <!--
    <div id='upload_button'>
      <#%= link_to("Show File Uploader", "#", id: "attach_button") %>
    </div>
    -->

    <div id="upload_section">
      <%= form_for @attachment, html: {multipart: true}, remote: true, format: :js do |f| %>
        <%= f.file_field("payload") %>
        <%= f.submit "Upload" %>
      <% end %>  
    </div>

    <div id="msg_input">
      <% if signed_in? %>
        <%= form_for(@message, remote: true, format: :js) do |f| %>
          <%= f.text_field :content, maxlength: 300 %>
        <% end %>
      <% end %>
    </div>

    <div id="messages_section">
      <div id="message_loading_icon">
        <%= image_tag "loading_bar.gif" %>
      </div>
      <ul id="message_list">
        <!--<#%= render(@messages) %> -->
      </ul>
    </div>

  </div> <!-- end #messages -->
</div> <!-- end #content -->

<%= subscribe_to "/messages/#{@user.user_name}" %> 
<%= subscribe_to "/workstations/#{@user.user_name}" %> 
<%= subscribe_to "/readers/#{@user.user_name}" %> 

