<div id="messaging_page" class=<%= "#{@user.id}" %>>

  <div id="upload">
    <div id="outer_upload_section">

      <div id="upload_close_button">
        <%= image_tag("xicon.png", id: "upload_xicon") %>
      </div>
      
      <div id="upload_section">
        <p>Drag files</br>here</p>
        <%= form_for @attachment, html: {multipart: true}, remote: true, format: :js do |f| %>
          <%= f.file_field :payload %>
        <% end %>
      </div>
    </div>
  </div>

 <div id='recipient_selection_section'>
    <div id='loading'>
      <%= image_tag "loading_circle.gif" %>
    </div>
    <div id='workstations'>
    </div>
  </div>

  <div id="messages_section">

    <div id="input_section">
      <div id="attach_button_section">
        <i id="attach_button" class="icon-paper-clip icon-2x"></i>
      </div>

      <div id="msg_input">
        <% if signed_in? %>
          <%= form_for(@message, remote: true, format: :js) do |f| %>
            <%= f.text_field :content, maxlength: 300 %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="message_list_section">
      <div id="message_loading_icon">
        <%= image_tag "loading_bar.gif" %>
      </div>
      <ul id="message_list">
      </ul>
    </div>
  </div> <!-- end #messages_section -->

  <script type='text/html' id='message_template'>
    <%= render 'messages/message' %>
  </script>

  <script type='text/html' id='attachment_template'>
    <%= render 'attachments/attachment' %>
  </script>

  <script type='text/html' id='workstation_template'>
    <%= render 'workstations/workstation' %>
  </script>

</div> <!-- end #messaging_page -->

<%= subscribe_to "/messages/#{@user.user_name}" %> 
<%= subscribe_to "/workstations/#{@user.user_name}" %> 
<%= subscribe_to "/readers/#{@user.user_name}" %> 

