<div id="user_name_section" class=<%= @user.name %>>
  <ul>
    <li id='user_name'><%= @user.full_name %></li>
    <% if signed_in? %>
      <li id='sign_out'><%= link_to "Sign out", signout_path %></li>
      <!--<%= link_to "Update Profile", edit_user_path(current_user) %>-->
    <% end %>
  </ul>
</div>

<div id='messenger'>

  <div id='send_to_section'>
    <div id='to'>
      <%= link_to("To:", users_path, :id => "users_link", :remote => true, :format => :js) %>
    </div>
    <div id='send_to_box'>
      <table id='recipients_table'>
        <%= render(@my_recipients) %>
      </table>
    </div>
  </div>

  <div id='recipient_selection_section'>
    <div id='user_select_close'>
      <%= link_to_function("×", "toggleRecipientSelectionSection()") %>
    </div>
    <h3>Available Users:</h3>
    <table id="online_users_list"></table>
  </div>

  <div id="messages_section">
    <ul id="message_list">
      <%= render(@messages) %>
    </ul>
  </div>
    
  <div id="upload_section">
    <%= form_for @attachment, html: {multipart: true}, remote: true, format: :js do |f| %>
      <%= f.file_field("payload") %>
      <%= f.submit "Upload" %>
    <% end %>  
  </div>

  <div id="msg_input">
    <div id="upload_button">
      <%= link_to(image_tag("paperclip.png"), "#", id: "attach_button") %>
    </div>
    <% if signed_in? %>
      <%= form_for(@message, remote: true, format: :js) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "Send", id: "Send" %>
      <% end %>
    <% end %>
  </div>

</div>

<%= subscribe_to "/messages/#{@user.name}" %> 
