<div id='<%= recipient_workstation.abrev %>' class='<%= recipient_workstation.view_class(@user) %>'>
  <div class='<%= "recipient_workstation_id #{recipient_workstation.id}" %>'>
    <%= recipient_workstation.name %>
  </div>
  <% if recipient_workstation.user_id and recipient_workstation.user_id > 0 %> 
    <div class='<%= "recipient_user_id #{recipient_workstation.user_id}" %>'>
      <%= "(#{User.find_by_id(recipient_workstation.user_id).user_name})" %>
    </div>
  <% else %>
    <div class='recipient_user_id'>
      <p>(vacant)</p>
    </div>
  <% end %>
</div>

