<div id='main_menu' class='<%= @user.user_name if signed_in? %>'>
  <ul>
    <li id='page_title'><%= @title %></li>
    <% if signed_in? %>
      <li class='nav_button'><%= link_to "Messages", user_path(@user) %></li>
      <li class='nav_button'><%= link_to "Profile", edit_user_path(@user) %></li>
      <% if @user.admin? %>
        <li class='nav_button'><%= link_to "Transcripts", transcripts_path %></li>
        <li class='nav_button'><%= link_to "Manage Users", "#" %></li>
      <% end %> 
      <li id='sign_out_button'><%= link_to "Sign out", signout_path %></li>
    <% end %>
  </ul>
</div>

