<title><%= @title %></title>
<%= stylesheet_link_tag "application" %>  
<%= javascript_include_tag "application" %> 
<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Carter+One&v2', :media => 'screen' %>
<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Jura&v2', :media => 'screen' %>
<%= csrf_meta_tag %>

