<div id='main_menu' class='<%= current_user.user_name if signed_in? %>'>
  <ul>
    <li id='page_title'><%= @title %></li>
    <% if signed_in? %>
      <li id='messages_button'><%= link_to "Messages", user_path(current_user) %></li>
      <li id='files_button'><%= link_to "Files", attachments_path %></li>
      <li id='profile_button'><%= link_to "Profile", edit_user_path(current_user) %></li>
      <% if current_user.admin? %>
        <li id='transcripts_button'><%= link_to "Transcripts", transcripts_path %></li>
        <li id='manage_users_button'><%= link_to "Manage Users", users_path %></li>
      <% end %> 
      <li id='sign_out_button'><%= link_to "Sign out", signout_path %></li>
    <% end %>
  </ul>
</div>

